.hello {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        color: $color-dark-green;
        font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
        font-size: rem-calc($title-font-size);
    }

    &__image {
        max-width: 640px;
        margin-bottom: rem-calc(15px);
    }
}