.product {
  margin-bottom: rem-calc(60px);

  @include respond-to("small") {
    display: flex;
  }
  @include respond-to("large") {
    margin-bottom: rem-calc(160px);
  }
}

.product__images {
  padding: 0 rem-calc(25px);

  @include respond-to("small") {
    display: flex;
    align-items: center;
    padding-left: 0;
    flex-basis: 60%;
  }

  @include respond-to("large") {
    padding-right: 0;
    flex-basis: 50%;
    flex-shrink: 0;
  }
}

.product__image {
  display: block;
  max-width: 100%;
  margin-bottom: rem-calc(10px);

  @include respond-to("small") {
    max-width: rem-calc(300px);
    margin-bottom: 0;
  }

  @include respond-to("medium") {
    max-width: rem-calc(500px);
  }
}

.product__info {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0;

  @include respond-to("small") {
  }

  @include respond-to("large") {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
  }
}

.product__description {
  display: flex;
  flex-direction: column;
  padding: 0 rem-calc(25px);
}

.color-btn {
  border: 0;
  padding: 0;
  margin-left: rem-calc(20px);
  border-radius: 50%;
  border: none;
  width: rem-calc(30px);
  height: rem-calc(30px);
  vertical-align: middle;
  color: $color-regular-white;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(n + 5) {
    margin-top: rem-calc(10px);
  }
}

.color-btn_color_purple {
  background-color: $color-btn-purple;
}
.color-btn_color_aqua {
  background-color: $color-btn-aqua;
}
.color-btn_color_green {
  background-color: $color-btn-green;
}
.color-btn_color_yellow {
  background-color: $color-btn-yellow;
}
.color__input {
  visibility: hidden;
  position: absolute;

  &:checked {
    & + .color__icon {
      visibility: visible;
    }
  }
}

.color__icon {
  visibility: hidden;
}

.product__category {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Poppins;
  font-size: rem-calc(12px);
  font-weight: 500;
  color: $color-warm-blue;
}

.product__name {
  font-family: Oswald;
  font-size: rem-calc(30px);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}
.product__data {
  margin-bottom: rem-calc(20px);

  @include respond-to("large") {
    display: flex;
    margin-bottom: rem-calc(40px);
  }
}

.product__footer {
  border-bottom: 1px solid $color-border;
  padding-bottom: rem-calc(40px);

  @include respond-to("large") {
    display: flex;
    align-items: center;
  }
}

.product-prices {
  display: flex;
  align-items: center;
  margin-bottom: rem-calc(20px);

  @include respond-to("large") {
    margin-bottom: 0;
  }
}

.product-prices__price {
  font-family: Poppins;
  font-size: rem-calc(20px);
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  color: $color_black;
  margin-right: rem-calc(36px);
}

.product-prices__price-old {
  color: $color-light-gray;
  font-size: rem-calc(14px);
  font-family: Poppins-Regular;
  text-decoration: line-through;
  line-height: 1;
}

.product-prices__discount {
  margin-right: rem-calc(48px);
}

.discount {
  font-family: Poppins;
  font-size: rem-calc(11px);
  text-align: center;
  color: $color-regular-white;
  display: inline-block;
  padding: rem-calc(2px 4px);
  border-radius: 2px;
  background-color: $color_black;
}

.variants {
  & + & {
    margin-top: rem-calc(20px);
  }

  @include respond-to("large") {
    flex-basis: 50%;

    & + & {
      margin-top: 0;
    }

    &:not(:nth-child(2n)) {
      margin-right: rem-calc(67px);
    }
  }
}

.variants__label {
  text-transform: uppercase;
  font-family: Poppins;
  font-size: rem-calc(12px);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-align: left;
  color: $color_black;
  margin-bottom: rem-calc(10px);

  @include respond-to("large") {
    margin-bottom: rem-calc(20px);
  }
}

.variants__content {
  display: flex;
  flex-wrap: wrap;
}

.variants__content_type_colors {
  max-width: rem-calc(180px);
}

.shopping__basket {
  background-color: $color-warm-blue;
  color: $color-regular-white;
  border: 0;
  font-size: rem-calc(14px);
  font-weight: 500;
  width: 130px;
  padding: rem-calc(16px) rem-calc(38px);
  border-radius: 999px;
  box-shadow: 0px 5px 20px 0 rgba($color-btn-purple, 0.4);
}

.shopping-counter {
  font-size: rem-calc(14px);
  align-items: center;
  font-weight: 500;
  display: inline-flex;
  border-radius: 999px;
  margin-right: rem-calc(20px);
  border: solid 1px $color-white;
  box-shadow: inset 0px -1px 0 0 $color-border;
}
.shopping__counter__btn {
  border: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: transparent;
}

.shopping__basket-icon {
  font-size: rem-calc(18px);
}

.size-btn__text {
  font-family: Poppins;
  margin-right: rem-calc(15px);
  font-size: rem-calc(14px);
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: $color-warm-gray;

  &:first-child {
    margin-left: 0;
  }
}

.size-btn__input {
  visibility: hidden;
  position: absolute;

  &:checked {
    & + .size-btn__text {
      color: $color-warm-blue;
    }
  }
}

.image-list {
  @include respond-to("small") {
    width: 60px;
    margin-left: auto;
  }
  @include respond-to("medium") {
    margin-left: rem-calc(25px);
    margin-right: rem-calc(25px);
  }
  @include respond-to("large") {
    margin-left: rem-calc(65px);
  }
}

.image-list__item {
  width: 60px;
  height: 60px;
  position: relative;

  &:focus {
    outline: 0;
  }

  & + .image-list__item {
    margin-left: -1px;

    @include respond-to("small") {
      margin-left: 0;
      margin-top: -1px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 6px;
    border: solid 1px $color-border;

    @include respond-to("small") {
      right: 0;
    }
  }
}

.slick-current {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    right: 6px;
    height: 2px;
    background-color: $color-btn-yellow;

    @include respond-to("small") {
      right: 0;
    }
  }
}
