.similar-products {
  border-top: 1px solid $color-border;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.similar-products__item {
  flex-basis: 50%;
  position: relative;
  box-shadow: 0 1px $color-border, 1px 0 $color-border;

  @include respond-to("small") {
    flex-basis: 33.333%;
  }

  @include respond-to("medium") {
    flex-basis: 25%;
  }
}

.similar-products__image {
  width: 100%;
  height: auto;
}

.similar-products_tag {
  font-size: rem-calc(50px);
  color: $color-warm-blue;
}

.similar-products__label {
  font-family: Poppins;
  font-size: rem-calc(13px);
  text-align: center;
  color: $color-dark-gray;
}

.similar-products__title {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: rem-calc(18px);
  color: $color-regular-white;
  margin-bottom: rem-calc(40px);
}

.similar-products__more {
  font-family: Poppins;
  margin-top: rem-calc(50px);
  font-size: rem-calc(13px);
  font-weight: 500;
  text-align: center;
  color: $color-regular-white;
}

.more-products {
  min-height: 100%;
  padding: rem-calc(16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-mine-shaft;
}

.shopping-counter__input {
  border: 0;
  width: 2em;
  text-align: center;
}

.similar-product-card {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  padding: rem-calc(25px);

  @include respond-to("large") {
    padding: rem-calc(50px);
  }
}

.similar-product-card__name {
  font-family: Oswald;
  font-size: rem-calc(17px);
  text-align: left;
  color: $color_black;
  margin: 0 0 rem-calc(20px);
  order: -1;

  @include respond-to("small") {
    order: 0;
    margin: rem-calc(29px) 0 0;
  }
}

.similar-product-card__price {
  font-family: Poppins;
  font-size: rem-calc(14px);
  font-weight: 500;
  color: $color-blue-price;
  margin-top: rem-calc(12px);
}

.similar-product-card__discount {
  position: absolute;
  top: rem-calc(5px);
  right: rem-calc(5px);

  @include respond-to("small") {
    top: rem-calc(30px);
    right: rem-calc(30px);
  }
}
